@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
    --yellow:#fed330;
    --red: #e74c3c;
    --white:#fff;
    --black:#222;
    --light-color:#777;
    --border:.2rem solid var(--black);  
}

*{
    font-family: 'Rubik', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition:  .2s linear;
}

*::selection{
    background-color: var(--yellow);
    color: var(--black);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--yellow);
    border-radius: 5rem;
}

section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.delete-btn, .btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1.3rem 3rem;
    cursor: pointer;
    font-size: 2rem;
    text-transform: capitalize;
}

.delete-btn{
    background-color: var(--red);
    color: var(--white);
}

.btn{
    background-color: var(--yellow);
    color: var(--black);
}

.delete-btn:hover, .btn:hover{
    letter-spacing: .2rem;
}

.title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 4rem;
    color: var(--black);
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.heading{
    background-color: var(--black);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-flow: column;
    min-height: 20rem;
}

.heading h3{
    font-size: 4rem;
    color: var(--white);
    text-transform: capitalize;
}

.heading p a{
    font-size: 2rem;
    color: var(--yellow);
}

.heading p span{
    font-size: 2rem;
    color: var(--light-color);
}

.heading p a:hover{
    color: var(--white);
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    border-bottom: var(--border);
    background-color: var(--white);
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .flex .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--black);
}

.header .flex .navbar a:hover{
    color: var(--yellow);
}

.header .flex .icons > *{
    font-size: 2.5rem;
    color: var(--black);
    margin-left: 1.5rem;
    cursor: pointer;
}

.header .flex .icons > *:hover{
    color: var(--yellow);
}